
body {
    font-family: 'Open Sans', sans-serif;
}

.pink {
    color: #6699CC;
}

.error {
    color: #cc0000;
}

.star {
    color: #EEB300;
}

/* Navigation Bar and Hero Section*/

.logo {
    font-weight: 600;
    color: #6699CC;
    font-size: 24px;
}

.nav-links {
    margin:0 10px;
    color: #616161;
}

.nav-links:hover {
    color: #6699CC;
}

.hero-section {
    background: hsl(210, 50%, 99%);
    height: 100vh;
}

.nav-bar{
    padding: 20px 25px;
    background: hsl(210, 50%, 99%);
    transition: .3s ease-in-out;
    /* box-shadow: 0px 3px 7px rgba(218, 218, 218, 0.6); */
}

.nav-btn {
    background-color: #6699CC;
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
}

.log-out-link {
    font-weight: 600;
    color: #6699CC;
    text-decoration: none;
}

.hero-container {
    margin-top: 4%;
}

.hero-header {
    font-size: 2.5rem;
    font-weight: 700;
    /* width: 105%; */
    color: #132639;
    line-height: 1.4;
}

.hero-subheader {
    margin-top: 20px;
    font-size: 1rem;
    max-width: 510px;
    line-height: 1.6;
    color: #1f537a;
}

.hero-cta {
    margin-top: 30px;
}

.primary-btn {
    background-color: #6699CC;
    text-decoration: none;
    padding: 12px 40px;
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
}

.secondary-btn {
    background-color: hsl(210, 50%, 93%);
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 6px;
    border: none;
    color: #6699CC;
}

.nav-btn:hover, .primary-btn:hover, .secondary-btn:hover {
    background-color: #6699CC;
    color: #fff;
}

.hero-img {
    width: 110%;
}

section {
    padding: 70px 60px;
    margin-top: 40px;
}

/* Auth Forms */

.form-container {
    border: none;
    border-radius: 10px;
    padding: 40px;
    margin: 5% auto;
    width: 50%;
    box-shadow: rgba(58, 138, 93, 0.15) 0px 48px 100px 0px;
}

.input {
    margin-bottom: 5%;
    font-size: 1rem;
    resize: none;
}

.pass-input {
    margin-bottom: 0;
    font-size: 1rem;
    resize: none;
}

.input:focus, .pass-input:focus {
    box-shadow: none;
    border: 3px solid hsl(210, 50%, 92%);
    ;
}

.form-text {
    margin-bottom: 5%;
}

.auth-btn {
    background-color: #6699CC;
    text-decoration: none;
    padding: 12px 40px;
    margin: 5% 0;
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
}

.auth-btn:hover {
    background-color: #6699CC;
}

.helper-text {
    text-align: center;
    color: hsl(210, 50%, 30%);
    ;
}

.helper-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: #6699CC;
}

.helper-link:hover {
    color: #6699CC;
}

/* Email verification */

.email-div {
    border: none;
    text-align: center;
    border-radius: 10px;
    padding: 40px 40px 60px;
    margin: 5% auto 0;
    width: 50%;
    box-shadow: rgba(58, 138, 93, 0.15) 0px 48px 100px 0px;
}

.email-pic {
    width: 40%;
}

.email-subheader {
    font-size: 1rem;
    margin: 2% auto 0;
    width: 65%;
    line-height: 1.6;
    color: #3e506f;
}

.email-stress {
    font-weight: 600;
}

/* Dashboard */

.navigation-bar {
    padding: 20px 25px;
    background: #fff;
    box-shadow: rgba(58, 138, 93, 0.15) 0px 2px 40px 0px;

}

.dashboard {
    margin: 3% 6%;
}


.user-name {
    color: #999999;
    margin-bottom: 0;
}

.dash-header {
    font-weight: 600;
    color: #132639;
    margin-bottom: 1%;
}

.dash-btn {
    background-color: #6699CC;
    border: none;
    padding: 8px 30px;
    width: 100%;
}

.dash-btn:hover {
    background-color: #4080bf;
}

.quiz-body {
    padding: 0;
    margin-bottom: 8%;
}

.quiz-headings {
    display: flex;
    justify-content: space-between;
}

.recent {
    font-size: 1.4rem;
    margin-left: 1%;
    margin-bottom: 3%;
}

.div-link {
    text-decoration: none;
    color: #4080bf;
}

.quiz-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 40px;
}

.level-card {
    background-color: hsl(0, 0%, 92%);
    text-align: center;
    width: 100%;
    padding: 40px 50px;
    border-radius: 10px;
}

.level-card:hover {
    background-color: hsl(0, 0%, 85%);
}

.levels-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 40px 40px;
}


/* quiz */

.quiz-container {
    max-width: 500px;
    min-width: 250px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
  }
  
  .quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #800080;
  }
  
  .quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #e0dee3;
  }
  
  .quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  
  .quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
  }
  
  .quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .quiz-container ul .selected-answer {
    background: #ffd6ff;
    border: 1px solid #800080;
  }
  
  .quiz-container button {
    background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .quiz-container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
  }
  
  .flex-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .result h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
  }
  
  .result p {
    font-size: 16px;
    font-weight: 500;
  }
  
  .result p span {
    color: #800080;
    font-size: 22px;
  }